*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    margin: 0;
    list-style: none;
    padding-inline-start: 0;
}

h2,
h3,
h4 {
    margin: 0;
}

a {
    text-decoration: none;
    color: #000;

    &:visited {
        color: #000;
    }
}