.restaurantCard {
    width: 100%;

    &__title {
        margin-bottom: 16px;
    }

    &__subtitle {
        margin-bottom: 12px;
    }

    &__container {
        display: flex;
        gap: 16px;
        margin-bottom: 64px;
    }

    &__block {
        flex: 1;
    }

    &__tabs {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;
    }

    &__wrap {
        flex: 1;
    }

    &__imgWrap {
        padding-top: 52px;
    }

    &__img {
        object-fit: cover;
        border-radius: 4px;
    }
}